<router-outlet (mostrarEvento)="mostrarMensagemSucesso()"></router-outlet>
  <!-- Event Binding  -->
  <!-- <app-pessoa-create (mostrarEvento)="mostrarMensagemSucesso()"></app-pessoa-create> 
  <app-endereco-form (mostrarEventoEndereco)="mostrarMensagemSucesso()"></app-endereco-form>
  <app-desconto (mostrarEventoDesconto)="mostrarMensagemSucesso()"></app-desconto>
  <app-produto-create (mostrarEventoProduto)="mostrarMensagemSucesso()"></app-produto-create>
  <app-pedido-form></app-pedido-form> -->