<div class="container">
  <div [hidden]="submeteu">
    <h1>E-commerce - Formulário Cadastro de Pessoa</h1>
    <form (ngSubmit)="submeterForm()" #descontoForm="ngForm">
      <!-- Two-way Binding:
      O ngModel é a representação de uma entidade 
      ela pode ser um campo simples ou um objeto
      é um binding de propriedade + um binding de evento -->
      <div class="form-group">
        <label for="porcentagem">Porcentagem</label>
        <input type="number" class="form-control" id="porcentagem" placeholder="Insira a porcentagem em decimal..."
        required
               [(ngModel)]="desconto.porcentagem" name="porcentagem" #porcentagem="ngModel">
        <div [hidden]="porcentagem.valid || porcentagem.pristine"
             class="alert alert-danger">
          Porcentagem é obrigatória
        </div>
      
      </div>

      <div class="form-group">
        <label for="categoria">Categoria</label>
        <input type="text" class="form-control" id="categoria" placeholder="Insira a categoria..."
              required
               [(ngModel)]="desconto.categoria" name="categoria" #categoria="ngModel">
        <div [hidden]="categoria.valid || categoria.pristine"
             class="alert alert-danger">
          Categoria é obrigatória
        </div>
      
      </div>

      <div class="form-group">
        <label for="codigoDesconto">Código</label>
        <input type="text" class="form-control" id="codigoDesconto" placeholder="Insira o código..."
              required
               [(ngModel)]="desconto.codigoDesconto" name="codigoDesconto" #codigoDesconto="ngModel">
        <div [hidden]="codigoDesconto.valid || codigoDesconto.pristine"
             class="alert alert-danger">
          Código é obrigatória
        </div>
      
      </div>
      <!-- Event Binding -->
      <button type="submit" class="btn btn-success" [disabled]="!descontoForm.form.valid" (click)="mostrarMensagem(); novoDesconto()">Cadastrar</button>
      <button type="button" class="btn btn-default" (click)="limparFormulario(); descontoForm.reset()">Limpar</button>
    </form>
  </div>
<!-- interpolação -->
  <div [hidden]="!submeteu">
    <h2>Desconto cadastrado:</h2>
    
    <div class="row">
      <div class="col-xs-3">Porcentagem</div>
      <div class="col-xs-9">{{ desconto.porcentagem }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Categoria</div>
      <div class="col-xs-9">{{ desconto.categoria }}</div>
    </div>

    <div class="row">
      <div class="col-xs-3">Código</div>
      <div class="col-xs-9">{{ desconto.codigoDesconto }}</div>
    </div>
  
    <br>
    <button class="btn btn-primary" (click)="submeteu=false">Editar</button>
  </div>
</div>