
<h1>{{ title }}</h1>
<section class="container">
    <div class="item">
      <a routerLink="/cliente" routerLinkActive="active">cliente</a>
    </div>
    <!-- <div class="item">
      <a routerLink="/fornecedor" routerLinkActive="active" >FORNECEDOR</a>
    </div> -->
    <div class="item">
      <a routerLink="/pessoa" routerLinkActive="active" > gestão - pessoa</a>
    </div>
    <div class="item">
      <a routerLink="/produto" routerLinkActive="active">PRODUTO</a>
    </div>
    <div class="item">
      <a routerLink="/pedido" routerLinkActive="active">PEDIDO</a>
    </div>
</section>

